<mat-tab-group>
    <mat-tab label="Holding">
        <section style="margin-top: 20px;">
        <h4>Holding verwalten</h4>
        <mat-form-field appearance="fill">
            <mat-label>Name suchen</mat-label>
            <input matInput [(ngModel)]="searchedHoldingName" name="holdingSearchName" placeholder="Name der Holding" title="Holding Name suchen">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchHoldingByName()">Suchen</button>
        @if (selectedHolding) {
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="selectedHolding.name" name="holdingName" placeholder="Name der Holding" title="Name der Holding">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Gründung</mat-label>
                <input matInput [(ngModel)]="selectedHolding.founding" type="number" name="holdingFounding" placeholder="Gründungsjahr" title="Gründungsjahr der Holding">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateHolding()">Aktualisieren</button>
            <button mat-raised-button color="warn" (click)="deleteHolding()">Löschen</button>
            </div>
        }
        </section>
        <form>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="z. B. Volkswagen AG" [(ngModel)]="newHolding.name" name="newHoldingName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Gründungsjahr</mat-label>
            <input matInput type="number" placeholder="1937" [(ngModel)]="newHolding.founding" name="newHoldingFounding">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Logo-URL</mat-label>
            <input matInput placeholder="https://..." [(ngModel)]="newHolding.logo" name="newHoldingLogo">
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="createHolding()">Holding erstellen</button>
        </form>
        <table mat-table [dataSource]="holdings" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="founding">
            <th mat-header-cell *matHeaderCellDef>Gründung</th>
            <td mat-cell *matCellDef="let element">{{element.founding}}</td>
        </ng-container>
        <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef>Logo</th>
            <td mat-cell *matCellDef="let element">
                <img [src]="element.logo" alt="Logo" width="50" height="30">
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="selectHolding(element)">Bearbeiten</button>
            <button mat-button color="warn" (click)="deleteHolding(element.id)">Löschen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['name', 'founding', 'logo', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'founding', 'logo', 'actions']"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Brands">
        <section style="margin-top: 20px;">
        <h4>Brand verwalten</h4>
        <mat-form-field appearance="fill">
            <mat-label>Name suchen</mat-label>
            <input matInput [(ngModel)]="searchedBrandName" name="brandSearchName" placeholder="Name der Brand" title="Brand Name suchen">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchBrandByName()">Suchen</button>
        @if (selectedBrand) {
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="selectedBrand.name" name="brandName" placeholder="Name der Brand" title="Name der Brand">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Holding ID</mat-label>
                <input matInput [(ngModel)]="selectedBrand.holdingId" name="brandHoldingId" placeholder="Holding ID" title="Holding ID der Brand">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Gründung</mat-label>
                <input matInput [(ngModel)]="selectedBrand.founding" type="number" name="brandFounding" placeholder="Gründungsjahr" title="Gründungsjahr der Brand">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Logo</mat-label>
                <input matInput [(ngModel)]="selectedBrand.logo" name="brandLogo" placeholder="Logo-URL" title="Logo-URL der Brand">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateBrand()">Aktualisieren</button>
            <button mat-raised-button color="warn" (click)="deleteBrand()">Löschen</button>
            </div>
        }
        </section>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="z. B. BMW" [(ngModel)]="newBrand.name" name="newBrandName">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Holding ID</mat-label>
                <input matInput placeholder="UUID der Holding" [(ngModel)]="newBrand.holdingId" name="newBrandHoldingId">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Gründungsjahr</mat-label>
                <input matInput type="number" placeholder="1920" [(ngModel)]="newBrand.founding" name="newBrandFounding">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Logo-URL</mat-label>
                <input matInput placeholder="https://..." [(ngModel)]="newBrand.logo" name="newBrandLogo">
            </mat-form-field>

            <button mat-raised-button color="primary" type="button" (click)="createBrand()">Brand erstellen</button>
        </form>

        <table mat-table [dataSource]="brands" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="holdingId">
            <th mat-header-cell *matHeaderCellDef>Holding ID</th>
            <td mat-cell *matCellDef="let element">{{element.holdingId}}</td>
        </ng-container>
        <ng-container matColumnDef="founding">
            <th mat-header-cell *matHeaderCellDef>Gründung</th>
            <td mat-cell *matCellDef="let element">{{element.founding}}</td>
        </ng-container>
        <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef>Logo</th>
            <td mat-cell *matCellDef="let element">
                <img [src]="element.logo" alt="Logo" width="50" height="30">
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="selectBrand(element)">Bearbeiten</button>
            <button mat-button color="warn" (click)="deleteBrand(element.id)">Löschen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['name', 'holdingId', 'founding', 'logo', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'holdingId', 'founding', 'logo', 'actions']"></tr>
        </table>
    </mat-tab>
    <mat-tab label="Type">
        <section style="margin-top: 20px;">
        <h4>Type verwalten</h4>
        <mat-form-field appearance="fill">
            <mat-label>Name suchen</mat-label>
            <input matInput [(ngModel)]="searchedTypeName" name="typeSearchName" placeholder="Name des Typs" title="Type Name suchen">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchTypeByName()">Suchen</button>
        @if (selectedType) {
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput [(ngModel)]="selectedType.type" name="typeName" placeholder="Name des Typs" title="Name des Typs">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateType()">Aktualisieren</button>
            <button mat-raised-button color="warn" (click)="deleteType()">Löschen</button>
            </div>
        }
        </section>
        <form>
        <mat-form-field appearance="fill">
            <mat-label>Type</mat-label>
            <input matInput [(ngModel)]="newType.type" name="newTypeName" placeholder="z. B. Limousine">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createType()">Type erstellen</button>
        </form>
        <table mat-table [dataSource]="types" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="selectType(element)">Bearbeiten</button>
            <button mat-button color="warn" (click)="deleteType(element.id)">Löschen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'type', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'type', 'actions']"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Engine">
        <section style="margin-top: 20px;">
        <h4>Engine verwalten</h4>
        <mat-form-field appearance="fill">
            <mat-label>Name suchen</mat-label>
            <input matInput [(ngModel)]="searchedEngineName" name="engineSearchName" placeholder="Name der Engine" title="Engine Name suchen">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchEngineByName()">Suchen</button>
        @if (selectedEngine) {
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Engine Type</mat-label>
                <input matInput [(ngModel)]="selectedEngine.engineType" name="engineType" placeholder="z. B. V8" title="Engine Type">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateEngine()">Aktualisieren</button>
            <button mat-raised-button color="warn" (click)="deleteEngine()">Löschen</button>
            </div>
        }
        </section>
        <form>
        <mat-form-field appearance="fill">
            <mat-label>Engine Type</mat-label>
            <input matInput [(ngModel)]="newEngine.engineType" name="newEngineType" placeholder="z. B. V8">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createEngine()">Engine erstellen</button>
        </form>
        <table mat-table [dataSource]="engines" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="engineType">
            <th mat-header-cell *matHeaderCellDef>Engine Type</th>
            <td mat-cell *matCellDef="let element">{{element.engineType}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="selectEngine(element)">Bearbeiten</button>
            <button mat-button color="warn" (click)="deleteEngine(element.id)">Löschen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'engineType', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'engineType', 'actions']"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Fuel">
        <section style="margin-top: 20px;">
        <h4>Fuel verwalten</h4>
        <mat-form-field appearance="fill">
            <mat-label>Name suchen</mat-label>
            <input matInput [(ngModel)]="searchedFuelName" name="fuelSearchName" placeholder="Name des Fuel" title="Fuel Name suchen">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchFuelByName()">Suchen</button>
        @if (selectedFuel) {
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Kraftstofftyp</mat-label>
                <input matInput [(ngModel)]="selectedFuel.fuelType" name="fuelType" placeholder="z. B. Diesel" title="Kraftstofftyp">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateFuel()">Aktualisieren</button>
            <button mat-raised-button color="warn" (click)="deleteFuel()">Löschen</button>
            </div>
        }
        </section>
        <form>
        <mat-form-field appearance="fill">
            <mat-label>Kraftstofftyp</mat-label>
            <input matInput [(ngModel)]="newFuel.fuelType" name="newFuelType" placeholder="z. B. Diesel">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createFuel()">Fuel erstellen</button>
        </form>
        <table mat-table [dataSource]="fuels" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="fuelType">
            <th mat-header-cell *matHeaderCellDef>Kraftstofftyp</th>
            <td mat-cell *matCellDef="let element">{{element.fuelType}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="selectFuel(element)">Bearbeiten</button>
            <button mat-button color="warn" (click)="deleteFuel(element.id)">Löschen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'fuelType', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'fuelType', 'actions']"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Doors">
        <section style="margin-top: 20px;">
        <h4>Doors verwalten</h4>
        <mat-form-field appearance="fill">
            <mat-label>Name suchen</mat-label>
            <input matInput [(ngModel)]="searchedDoorsName" name="doorsSearchName" placeholder="Name der Doors" title="Doors Name suchen">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchDoorsByName()">Suchen</button>
        @if (selectedDoors) {
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Anzahl</mat-label>
                <input matInput [(ngModel)]="selectedDoors.quantity" type="number" name="doorsQuantity" placeholder="Anzahl der Türen" title="Anzahl der Türen">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateDoors()">Aktualisieren</button>
            <button mat-raised-button color="warn" (click)="deleteDoors()">Löschen</button>
            </div>
        }
        </section>
        <form>
        <mat-form-field appearance="fill">
            <mat-label>Anzahl</mat-label>
            <input matInput type="number" [(ngModel)]="newDoors.quantity" name="newDoorsQuantity" placeholder="4">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createDoors()">Doors erstellen</button>
        </form>
        <table mat-table [dataSource]="doors" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Anzahl</th>
            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="selectDoors(element)">Bearbeiten</button>
            <button mat-button color="warn" (click)="deleteDoors(element.id)">Löschen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'quantity', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'quantity', 'actions']"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Seats">
        <section style="margin-top: 20px;">
        <h4>Seats verwalten</h4>
        <mat-form-field appearance="fill">
            <mat-label>Name suchen</mat-label>
            <input matInput [(ngModel)]="searchedSeatsName" name="seatsSearchName" placeholder="Name der Seats" title="Seats Name suchen">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchSeatsByName()">Suchen</button>
        @if (selectedSeats) {
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Anzahl</mat-label>
                <input matInput [(ngModel)]="selectedSeats.quantity" type="number" name="seatsQuantity" placeholder="Anzahl der Sitze" title="Anzahl der Sitze">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateSeats()">Aktualisieren</button>
            <button mat-raised-button color="warn" (click)="deleteSeats()">Löschen</button>
            </div>
        }
        </section>
        <form>
        <mat-form-field appearance="fill">
            <mat-label>Anzahl</mat-label>
            <input matInput type="number" [(ngModel)]="newSeats.quantity" name="newSeatsQuantity" placeholder="5">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createSeats()">Seats erstellen</button>
        </form>
        <table mat-table [dataSource]="seats" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Anzahl</th>
            <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="selectSeats(element)">Bearbeiten</button>
            <button mat-button color="warn" (click)="deleteSeats(element.id)">Löschen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'quantity', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'quantity', 'actions']"></tr>
        </table>
    </mat-tab>

    <mat-tab label="Color">
        <section style="margin-top: 20px;">
        <h4>Color verwalten</h4>
        <mat-form-field appearance="fill">
            <mat-label>Name suchen</mat-label>
            <input matInput [(ngModel)]="searchedColorName" name="colorSearchName" placeholder="Name der Color" title="Color Name suchen">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="fetchColorByName()">Suchen</button>
        @if (selectedColor) {
            <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="selectedColor.name" name="colorName" placeholder="Name der Color" title="Name der Color">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Hex-Code</mat-label>
                <input matInput [(ngModel)]="selectedColor.hexCode" name="colorHex" placeholder="Hex-Code" title="Hex-Code der Color">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="updateColor()">Aktualisieren</button>
            <button mat-raised-button color="warn" (click)="deleteColor()">Löschen</button>
            </div>
        }
        </section>
        <form>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="newColor.name" name="newColorName" placeholder="z. B. Rot">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Hex-Code</mat-label>
            <input matInput [(ngModel)]="newColor.hexCode" name="newColorHexCode" placeholder="#FF0000">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createColor()">Color erstellen</button>
        </form>
        <table mat-table [dataSource]="colors" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="hexCode">
            <th mat-header-cell *matHeaderCellDef>Hex-Code</th>
            <td mat-cell *matCellDef="let element">{{element.hexCode}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Aktionen</th>
            <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="selectColor(element)">Bearbeiten</button>
            <button mat-button color="warn" (click)="deleteColor(element.id)">Löschen</button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['id', 'name', 'hexCode', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'hexCode', 'actions']"></tr>
        </table>
    </mat-tab>
</mat-tab-group>
