<div class="w-full md:w-1/4 p-2">
  <div class="bg-white rounded-xl shadow-md hover:shadow-lg transition">
    <div class="card">
      <div class="card-header">
        <a [routerLink]="['/fahrzeuge/', fahrzeug.id]">
          <img [src]="fahrzeug.image" alt="Fahrzeugbild" class="fahrzeug-image"/>
        </a>
        {{ fahrzeug.marke }} {{ fahrzeug.modell }}
      </div>
      <div class="card-body">
        <p><strong>Baujahr:</strong> {{ fahrzeug.baujahr }}</p>
        <p><strong>Kilometerstand:</strong> {{ fahrzeug.kilometerstand | number }} km</p>
        <p><strong>Preis:</strong> {{ fahrzeug.preis | currency:'EUR' }}</p>
      </div>
    </div>
  </div>
</div>
